.App {
  text-align: center;
}

.App-header {
  background-color: cornflowerblue;
  height: 2rem;
  display: inline-flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
  padding: 1rem;
}

.link {
  margin: 1rem;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
}

.link:hover {
  box-shadow: 0 0 11px slateblue; 
  background-color: deepskyblue;
}
